<section class="testimonials-container" itemscope itemtype="https://schema.org/ItemList">
    <div class="testimonials-header">
      <h2 itemprop="name">Recommandé par <span>des milliers d'utilisateurs</span></h2>
      <p>Voici ce que notre communauté dit sur LineSat</p>
    </div>
    <div class="testimonials-grid">
      <div class="testimonials-slider">
        <swiper-container 
          loop="true" 
          space-between="30" 
          slides-per-view="auto" 
          autoplay="true" 
          autoplay-delay="4000"
          pagination="true"
          breakpoints='{"640": {"slidesPerView": 2}, "1024": {"slidesPerView": 3}}'
        >
          <!-- Testimonial 1 -->
          <swiper-slide>
            <div class="testimonial-img-container">
              <img src="/testimonials/testi8.webp" alt="Avis client LineSat - 5 étoiles" loading="lazy">
            </div>
          </swiper-slide>
          
          <!-- Testimonial 2 -->
          <swiper-slide>
            <div class="testimonial-img-container">
              <img src="/testimonials/testi7.webp" alt="Avis client LineSat - 4 étoiles" loading="lazy">
            </div>
          </swiper-slide>
          
          <!-- Testimonial 3 -->
          <swiper-slide>
            <div class="testimonial-img-container">
              <img src="/testimonials/testi6.webp" alt="Avis client LineSat - 5 étoiles" loading="lazy">
            </div>
          </swiper-slide>
          
          <!-- Testimonial 4 -->
          <swiper-slide>
            <div class="testimonial-img-container">
              <img src="/testimonials/testi5.webp" alt="Avis client LineSat - 5 étoiles" loading="lazy">
            </div>
          </swiper-slide>
          
          <!-- Testimonial 5 -->
          <swiper-slide>
            <div class="testimonial-img-container">
              <img src="/testimonials/testi4.webp" alt="Avis client LineSat - 5 étoiles" loading="lazy">
            </div>
          </swiper-slide>
          
          <!-- Testimonial 6 -->
          <swiper-slide>
            <div class="testimonial-img-container">
              <img src="/testimonials/testi3.webp" alt="Avis client LineSat - 4 étoiles" loading="lazy">
            </div>
          </swiper-slide>
          
          <!-- Testimonial 7 -->
          <swiper-slide>
            <div class="testimonial-img-container">
              <img src="/testimonials/testi2.webp" alt="Avis client LineSat - 4 étoiles" loading="lazy">
            </div>
          </swiper-slide>
          
          <!-- Testimonial 8 -->
          <swiper-slide>
            <div class="testimonial-img-container">
              <img src="/testimonials/testi1.webp" alt="Avis client LineSat - 4 étoiles" loading="lazy">
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </section>